<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="http://www.infinitygamercorps.com/igc/images/igc.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="free mmorpg,wow gold,ffxi gil,world of warcraft gold,cheap wow gold,playerauctions,free mmorpg games,ragnarok 2,player auctions,free mmorpg list,games,online games,pokemon,limewire,adventure quest,runescape,arma 3,battlefield 4,overwatch,warships,flight simulator,halo 3,call of duty,americas army,call of duty 2,counter strike,halo 2,pro evolution soccer 6,unreal tournament,dead rising,simviation,flight simulator downloads,online gaming, discord, dafsim">
    <meta name="author" content="Keith Edwards - http://www.keithedwards.tech" />
    <meta http-equiv=”X-UA-Compatible” content=”IE =Edge,chrome =1″ />
    <meta name=”description” content=”InfinityGamerCorps is an online multiplayer gaming community. We use Discord for our meeting place and for chatting while we play. Click the Discord (Connect Button) to join this great group of friends! Come on in, join us today!” />
    <meta name=”robots” content=”InfinityGamerCorps is an online multiplayer gaming community. We use Discord for our meeting place and for chatting while we play. Click the Discord (Connect Button) to join this great group of friends! Come on in, join us today!” />
    <meta name=”googlebot” content=”InfinityGamerCorps is an online multiplayer gaming community. We use Discord for our meeting place and for chatting while we play. Click the Discord (Connect Button) to join this great group of friends! Come on in, join us today!” />
    <title>InfinityGamerCorps</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="wrap">
        @RenderSection("Header")
        @RenderSection("Body")
        @RenderSection("Footer")
    </div>
</body>
</html>

